/* Backdrop Frame */

.languages-frame {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: safe center;
    align-items: center;
    gap: 2rem;
    
    width: 100%;
    max-width: 2160px;
    min-height: 10rem;
    height: 25rem;
    box-sizing: border-box;

    margin: 2rem auto 0 auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

/* Language Container Frames */

.language-container-frame {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 100%;

    position: relative;

    max-width: 15rem;
    min-width: 5rem;
    
    height: 100%;

    border-radius: 35px;
    border-style: solid;
    background-color: #282a2c;
    animation: 1s ease-in-out 0s 1 normal forwards easeInAnimation;
}

@media (max-width: 768px) {
    .language-container-frame {
        flex: 1 1 100%;
        width: 5vw;
    }
    
}

@keyframes easeInAnimation {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Logo Frame/Container */

.logo-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
    flex: 1;

    position: absolute;
    /* top: 0; */

    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    min-width: 50%;
    height: 30%;
    min-height: 10%;

    margin: 0;
    
}

/* Logo Image */

.logo-image {
    width: 100%;
    height: auto;
    max-height: 100%;

    aspect-ratio: 1/1;

    object-fit: contain;
    margin-top: 0;
}

/* Frame to Hold Text Within */

.language-description-frame {
    display: flex;
    align-items: flex-end;
    flex: 1;
    bottom: 0;
    padding-bottom: 10%;
}

/* Text Underneath Logo */

.description-paragraph {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-left: 5%;
    padding-right: 5%;
    font-size: 17px;
    font-weight: bold;
}

