/* Logo Container */

.language-knowledge-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;

  width: 100%;
  max-width: 2160px;
  height: auto;
  min-height: 10rem;
  box-sizing: border-box;

  background-color: rgb(0, 0, 0);
  

  border: 3px rgb(0, 238, 255) solid;
}

/* Logo Divs */

.logo-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
  flex: 1;
  max-width: 15%;
  height: 50%;
  object-fit: contain;
}

/* Logos */

.logo {
  max-width: 50%;
  height: 10%;
  max-height: 60%;
  object-fit: initial;
  margin-top: 0.7rem;
  filter: blur(0px);
}

/* Descriptions Under Logos */

.description-text {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 0.7rem;
}

/*Comment*/
